$black: #000;
$white: #fff;
$red-orange: #F73434;
$royal-blue: #335DD8;
$bright-red: #a31c27;
$white-smoke: #F7F7F7;
$white-smoke2: #F3F3F3;
$radical-red: #ff3a6d;
$night-rider: #333333;
$crimson: #D60037;
$hint-of-red: #F5F2F0;
$cerulean: #0077AA;
$summer-sky: #49A9D9;
$razzmatazz: #CA0060;
$grandis: #FFC66D;
$catalina-blue: #1D355B;
$dim-grey: #707070;
$eclipse: #3B3B3B;
$silver: #BEBEBE;
$light-slate-grey: #879099;
$gainsboro: #E1E1E1;
$nero: #1E1E1E;
$cinnabar: #EB2424;
$coral-red: #FF4343;
$dark-pastel-green: #01B43D;
$pacific-blue: #179BD7;
$resolution-blue: #253B80;
$lucky-point: #222D65;
