@import "styles/mixins";
@import "styles/props";

:host {
  @include box(100%);
  position: absolute;
}

app-post-editor {
  @include box(100%);
}

// loading
app-loading-spot {
  @include box(100%);
  @include topLeft;
  position: fixed;
  background-color: rgba($black, .8);
  z-index: 10;
}
