@import "styles/mixins";
@import "styles/props";

// progress bar container
.scripter-container {
  @include topLeft;
  width: 100%;
  height: 5px;
  position: fixed;
  z-index: 2000;
}

// progress bar
.scripter-progress-bar {
  height: 100%;
  background-color: $razzmatazz;
  transition: width .12s;
}
