<svg id="Group_13" data-name="Group 13" xmlns="http://www.w3.org/2000/svg" width="17.6" height="17.6"
     viewBox="0 0 17.6 17.6">
  <g id="Rectangle_3" data-name="Rectangle 3" transform="translate(0 0)" stroke-width="1">
    <rect x="0.5" y="0.5" width="16.6" height="16.6" rx="5.5" fill="none" stroke="#000"/>
  </g>
  <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(4.4 4.4)" stroke-width="1">
    <circle cx="4.4" cy="4.4" r="3.9" fill="none" stroke="#000"/>
  </g>
  <g id="Ellipse_3" data-name="Ellipse 3" transform="translate(12.467 2.933)" stroke-width="1">
    <circle cx="1.1" cy="1.1" r="0.6" fill="none" stroke="#000"/>
  </g>
</svg>
