@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(flex-start, null, column);
}

// link style
a {
  font-size: 12px;
  color: $silver;
  line-height: 14px;

  &:not(.scripter-active) {
    &:hover {
      color: lighten($black, 50%);
    }

    &:active {
      color: $black;
    }
  }

  &.scripter-active {
    color: $razzmatazz;
  }
}

// anchor space
a + a {
  margin-top: 10px;
}
