@import "styles/mixins";
@import "styles/props";

:host {
  display: block;
}

// markdown default style
markdown {
  font-size: 15px;
  line-height: 1.6;
}

// markdown styles
markdown {
  ::ng-deep {
    code[class*="language-"],
    pre[class*="language-"] {
      @include jetBrainsMono;
      font-size: 14px;

      * {
        @include jetBrainsMono;
        font-size: 14px;
      }
    }

    .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
      background-color: transparent;
    }

    :not(pre) {
      code {
        @include padding(2px 5px);
        @include jetBrainsMono;
        border-radius: 5px;
        background-color: $hint-of-red;
        font-size: .8em;
      }
    }

    p {
      margin: 1.6em 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 4em 0 1.6em;

      + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 1.6em;
      }
    }

    a {
      color: $summer-sky;

      &:hover {
        color: darken($summer-sky, 5%);
      }

      &:active {
        color: darken($summer-sky, 10%);
      }
    }

    blockquote {
      @include padding(5px 0 5px 14px);
      @include borderLeft(2px solid $eclipse);
      color: $eclipse;
      margin: 16px 0;
    }

    ul, ol {
      list-style-position: inside;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    img, iframe, video {
      @include border(1px solid $gainsboro);
      max-width: 100%;
      display: block;
      margin: 3em auto;
    }

    // image wrapper
    .scripter-image-wrapper {
      max-width: 100%;
      margin: 3em auto;

      img, span {
        display: block;
      }

      img {
        @include border(1px solid $gainsboro);
        margin: 0 auto;
      }

      span {
        font-size: 12px;
        color: $eclipse;
        margin-top: 10px;
        text-align: center;
      }
    }

    // site wrapper
    .scripter-site-wrapper {
      @include border(1px solid $silver);
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 500px;

      img {
        display: block;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
        border: 0;
      }

      .scripter-site-info-wrapper {
        @include borderTop(1px solid $silver);
        @include flex(flex-start, center, column);
        @include padding(10px 20px);
        min-height: 70px;
      }

      .scripter-site-name {
        font-size: 14px;
        line-height: 16px;
        color: $black;
      }

      .scripter-site-url {
        font-size: 12px;
        line-height: 14px;
        color: $silver;
        margin-top: 5px;
      }

      .scripter-site-name, .scripter-site-url {
        max-width: 100%;
        word-break: break-word;
      }
    }

    table {
      max-width: 100%;
    }

    hr {
      margin: 7em auto;
      border: 0;
      background-color: $gainsboro;
      width: 100%;
      height: 1px;
      max-width: 250px;
    }
  }
}
