@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(center);
  @include padding(0 20px);
  background-color: $nero;
  height: 60px;
}

// title
h3 {
  font-size: 18px;
  font-weight: 400;
  color: $white;
}
