@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(center, center);
  position: relative;
  max-width: calc(100% - 40px);
  width: 100%;
  z-index: 10;
  pointer-events: none;

  ::ng-deep {
    > * {
      pointer-events: auto;
    }
  }
}
