@import "../../../../styles/mixins";
@import "../../../../styles/props";

:host {
  display: block;
  width: 100%;
  max-width: 450px;
}

// modal content
app-modal-content {
  @include padding(20px);
  overflow: auto;
  height: 340px;
}

// button space
button + button {
  margin-left: 20px;
}

// flat button
.scripter-flat-button {
  height: 35px;
}

// field space
app-post-category-select,
app-post-label-input {
  margin-top: 20px;
}
