@import "styles/mixins";
@import "styles/props";

:host {
  display: block;
  width: 100%;
  max-width: 450px;
}

// form field space
app-form-field {
  margin-bottom: 20px;
}

// content
app-modal-content {
  @include padding(20px);
}
