@import "styles/mixins";
@import "styles/props";

:host {
  display: block;
  width: 100%;
  max-width: 450px;
}

// item space
app-tool-option-item + app-tool-option-item {
  margin-top: 10px;
}

// content
app-modal-content {
  @include padding(20px);
  overflow: auto;
  height: 400px;
}
