@import "../../../styles/mixins";
@import "../../../styles/props";

:host {
  ::ng-deep {
    canvas {
      display: block;
      position: absolute;
    }
  }

  @include box(100%);
  display: block;
  overflow: hidden;
  position: absolute;
  background-color: $black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// main container
.scripter-container {
  @include horizontalCenter;
  @include flex(center, null, column);
  opacity: 0;
  user-select: none;
  top: 20%;
  z-index: 10;
  position: absolute;
  animation: fadeIn 2s forwards ease-out;
  pointer-events: none;
}

img {
  @include under(1023px) {
    width: calc(373px * .9);
  }

  @include under(767px) {
    width: calc(373px * .8);
  }

  @include under(424px) {
    width: calc(373px * .7);
  }
}

// text
p {
  font-size: 12px;
  opacity: .3;
  color: $white;
  margin-top: 20px;
  text-align: center;
}

// text space
p + p {
  margin-top: 10px;
}

// home button
a {
  @include rect(100px, 35px);
  @include flex(center, center);
  @include clickable();
  pointer-events: auto;
  border-radius: calc(35px / 2);
  background-color: $eclipse;
  color: $silver;
  font-size: 12px;
  margin-top: 40px;

  &:not(:disabled) {
    &:hover {
      background-color: lighten($eclipse, 5%);
    }

    &:active {
      background-color: lighten($eclipse, 10%);
    }
  }
}

a + a {
  margin-top: 20px;
}
