<!-- main container -->
<div class="scripter-container">
  <!-- title text -->
  <svg xmlns="http://www.w3.org/2000/svg" width="373" height="176" viewBox="0 0 373 176">
    <g id="Group_17" data-name="Group 17" transform="translate(-806 -558)">
      <text id="S" transform="translate(806 689)">
        <tspan x="0" y="0">S</tspan>
      </text>
      <text id="c" transform="translate(875 689)">
        <tspan x="0" y="0">c</tspan>
      </text>
      <text id="r" transform="translate(917 689)">
        <tspan x="0" y="0">r</tspan>
      </text>
      <text id="i" transform="translate(968 689)">
        <tspan x="0" y="0">i</tspan>
      </text>
      <text id="p" transform="translate(994 688)">
        <tspan x="0" y="0">p</tspan>
      </text>
      <text id="t" transform="translate(1040 689)">
        <tspan x="0" y="0">t</tspan>
      </text>
      <text id="e" transform="translate(1085 689)">
        <tspan x="0" y="0">e</tspan>
      </text>
      <text id="r-2" data-name="r" transform="translate(1128 689)">
        <tspan x="0" y="0">r</tspan>
      </text>
    </g>
  </svg>

  <p>
    Fullstack Developer with Angular2+ and NestJS
  </p>

  <p>
    Click anywhere to create ripple
  </p>

  <a [routerLink]="homeLink">
    Home
  </a>
</div>
